<!--div class="row" *ngIf="!(gameStarted); else loadDefaults"-->
<div class="row" *ngIf="(gameStarted); else loadStarted">
  <div class="col-xs-12" align="center">
      <div class="row">
        <div class="col-md-6">
          <input type="text"
                 class="form-control"
                 [(ngModel)]="newPlayer">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-xs-3">
          <button class="btn btn-primary"
                  [disabled]="false"
                  (click)="onCreatePlayer()"
          >Add Player</button>
        </div>
        <div class="col-sm-2 col-xs-3">
          <button *ngIf=" (aantalSpelers >= 1 ); else loadDefaults" class="btn"
                  (click)="onClearPlayers()">Clear List</button>
        </div>
        <ng-template #loadDefaults>
          <button class="btn"
                  (click)="onLoadDefaultPlayers()">Load Defaults</button>
        </ng-template>
      </div>
  </div>
</div>
<ng-template #loadStarted>
    defaults work!
</ng-template>


