<div class="row">
  <div class="col-xs-3" align="center">
    <button class="btn btn-lg btn-primary"
            [disabled]="this.spelers.length <= 1"
            (click)="onStartGame()">Start Game</button>
  </div>
  <!--div class="col-xs-6"align="center">

  </div-->
</div>
<hr>
<div class="row">
  <div class="col-xs-6" align="center">
    <input type="text"
           class="form-control"
           [(ngModel)]="newPlayer">
  </div>
  <div class="col-xs-2" align="center">
    <button class="btn btn-primary"
            [disabled]="newPlayer === ''"
            (click)="onCreatePlayer()">Add Player</button>
  </div>
  <div class="col-xs-2" align="center">
    <button *ngIf="!(this.spelers.length == 0); else loadDefaults" class="btn"
            [disabled]="this.spelers.length == 0"
    (click)="onClearPlayers()">Clear List</button>
  </div>
  <ng-template #loadDefaults>
      <button class="btn"
              (click)="onLoadDefaultPlayers()">Load Defaults</button>
  </ng-template>
</div>
<hr>
<div class="row">
  <div class="col-xs-12" *ngFor="let speler of spelers">
    <div class="col-xs-2">
      <button class="btn btn-sm"
              (click)="onDeletePlayer(speler)">delete</button>
    </div>
    <div class="col-xs-10" >{{ speler.name }} </div>
  </div>
</div>
<hr>
